.default{
  background-color:rgb(255, 255, 255);
  color: rgb(0,0,0);
}

.announcement {
  color: red;
  text-align: center;
}

.bigTitle{
  text-align: center;
  color: rgba(00, 00, 00, 1);
}

.important{
    color: rgba(255, 00, 00, 1);
}

.centeredImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.persoInfo {
  text-align: center;
  font-size: medium;
  color: rgb(255, 255, 255);
}

.header {
  background-color: rgba(156, 156, 156, 0.445);
}

.textContent {
  margin-left: 350px;
  margin-right: 350px;
  text-align: justify;
}
