.default{
  background-color:rgb(255, 255, 255);
  color: rgb(0,0,0);
  font-family:'Arial';
  
}

.announcement {
  color: red;
  text-align: center;
}

.bigTitle{
  text-align: center;
  color: rgba(00, 00, 00, 1);
}

.subtitle{
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}

.important{
    color: rgba(255, 00, 00, 1);
}

.centeredImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.persoInfo {
  text-align: center;
  font-size: medium;
  color: rgb(255, 255, 255);
}

.header {
  background-color: rgba(156, 156, 156, 0.445);
  border-radius: 10px;
}

.textContent {
  margin-left: 350px;
  margin-right: 350px;
  text-align: justify;
}

/* Table related */
table, th, td{
  text-align: left;
  border: 1px solid rgb(0,0,0);
  border-collapse: collapse;
  padding: 10px;
}

th {
  background-color: rgb(197, 197, 197);
}


/* Couloured Backgrounds */
.orangeBackground{
  border-radius: 25px;
  padding: 10px;
  background-color:rgba(253, 143, 0, 0.200);
  color: rgb(0, 0, 0);
}

.blueBackground {
  border-radius: 25px;
  padding: 10px;
  background-color:rgba(0, 131, 253, 0.200);
  color: rgb(0, 0, 0);
}

.redBackground {
  border-radius: 25px;
  padding: 10px;
  background-color:rgba(253, 0, 0, 0.200);
  color: rgb(0, 0, 0);
}

.greenBackground {
  border-radius: 25px;
  padding: 10px;
  background-color:rgba(0, 253, 42, 0.200);
  color: rgb(0, 0, 0);
}

.yellowBackground {
  border-radius: 25px;
  padding: 10px;
  background-color:rgba(253, 249, 0, 0.200);
  color: rgb(0, 0, 0);
}